.contact-info{
    display: grid;
     }
    
    
    
    .contact-details{
        padding: 10px;
    }


      
      .contact-h1{
        font-size: 2rem;
      }

   .submit-btn{
    width: 100%;
    margin-top: 10px;
    background-color: $dark !important;
   }


   @media only screen and (max-width: 600px) {
    .wrapper-form{
      margin-top: 30px;
    }
  }
