html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    min-height: 100vh; 
}
main{
    flex: 1;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    margin-top: 2rem;
    font-size: 0.8em;
    color: #ffff;
    padding: 0.5em;
   
}


.footer-p{
    color: black;
}