.navbar-light .navbar-brand{
    color: $primary !important;
}




.btn-outline-success{
    color: #fff;
    background-color: $primary !important;
    border-color: $primary;
}

.navbar-light .navbar-nav .nav-link:hover{
    background-color: #ffff;
    border-color: #ffff;
}


.navbar-light .navbar-nav .nav-link{
    color: #000000;
}
