.container{
    padding-top: 20px;
}

.row{
    padding: 10px;
}

.btn-primary:hover{
    background-color: $dark;
    border-color: $dark;
}


.btn-group > .btn:not(:first-child){
    background-color: $light;
    color: $primary;
    border-color: $primary;
}

.btn-toolbar {.btn-group:first-child {button:first-child {
        background-color:$primary ;
        border-color: $primary;
      }
    }
  }

  .news-h1{
    font-size: 2rem;
    margin-bottom: 25px;
  }

@media only screen and (max-width: 800px) {
    .col-md-3{
      padding: 10px;
    }
  }